.categories {
  ul {
    width: 100%;
    min-width: 280px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 1px 1px 4px #ddd;
    li {
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid gray;
      box-shadow: 1px 1px 4px #ddd;
    }
  }
}
