.logopart {
  width: 400px;
}

.menuHeder {
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid rgb(255, 255, 255);

  img {
    width: 40px !important;
    height: 40px !important;
  }
}

@media (max-width: 768px) {
  .logopart {
    width: 362px;
  }
}

@media (max-width: 640px) {
  .logopart {
    h2 {
      display: none;
    }
  }
}
