.optionsHeader {
  background-color: #5995fd;
  color: white;
  width: 100%;
  /* height: 20px; */
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
}
.optionsHeader p {
  font-weight: 400;
  font-size: 16px;
}
