@import "../../abstract/variable.module.scss";

.OrderCart {
  background-color: $Lightgray;
  width: 100%;
  padding: 30px;
  position: relative;
  margin-top: 171px;
  aside {
    width: 30%;
    position: sticky;
    // overflow: hidden;
    top: 0;
  }
  main {
    width: 70%;
    padding: 0px 35px;
  }
}
.card_header {
  margin-top: 20px;
  background-color: $primary;
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  h3 {
    font-size: 22px;
    font-weight: 700;
    color: $white;
  }
}
.card_Product {
  margin: 20px 0px;
  background-color: #fff;
  padding-bottom: 20px !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $Lightgray;
}

.Cart_Button {
  float: right;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .OrderCart {
    padding: 0px;

    .card_header {
      margin-top: 20px;
      background-color: $primary;
      height: 50px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      h3 {
        font-size: 18px;
        font-weight: 700;
        color: $white;
      }
    }
    .card_Product {
      margin: 20px 0px;
      background-color: #fff;
      padding-bottom: 20px !important;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $Lightgray;
    }
  }
}
