@import "../../abstract/variable.module.scss";
.button {
  width: 130px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}
.simpleButton {
  // width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}

.largestButton {
  // width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .button {
    width: 100px;
    height: 45px;
  }
}
@media (max-width: 640px) {
  .button {
    width: 80px;
    height: 40px;
  }
}
