@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "../abstract//variable.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Spline+Sans&display=swap");
.slick-slide > div {
  margin: 0 10px !important;
}

.slick-list {
  margin: 0 -10px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 25px !important;
  line-height: 0 !important;
  /* opacity: .75; */

  color: #080808 !important;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: $white;
  font-family: "Spline Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h2 {
  color: $light;
  font-size: 25px;
  font-weight: 700;
}
