@import "../../abstract//variable.module.scss";
.ambulance {
  padding: 20px;
  margin-top: 171px;
  .ambulanceCard {
    width: 320px;
  }
}
.titlePart {
  h2 {
    font-size: 30px;
    font-weight: 700;
    border: 2px solid #4c9dc3;
    border-radius: 5px 10px 5px 10px;
    position: relative;
    padding: 5px;
    border-bottom: 3px solid #0571a5;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    color: $primary;
    cursor: pointer;
  }
}
.ambulanceBody {
  .icon {
    background-color: #0571a5;
    border-radius: 53%;
    padding: 4px;
    color: white;
  }
}
.map_button {
  background-color: $primary !important;
  border: 2px solid $light;
}

@media (max-width: 640px) {
  .ambulance {
    padding: 0px;
  }
  .titlePart {
    .title {
      color: $light;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
    p {
      display: none;
    }
  }
}
