form {
  padding: 5px;
  margin-top: 5px;
}
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
  line-height: 1;
  font-weight: 500;
  color: #333;
  font-size: 0.98rem;
  /* margin-top: 8px; */
  padding: 13px;
}
.input-icons i {
  position: absolute;
  padding: 7px;
  color: white;
  background-color: #0e0e0e;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.input-icons h5 {
  font-size: 18px;
  font-weight: 600;
}
.icon {
  padding: 10px;
  min-width: 40px;
}
.submitBtn {
  width: 120px;
  height: 40px;
  background-color: #4f46e5;
  border: 2px solid white;
  border-radius: 5px solid white;
  /* padding: 8px; */
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
}
