@import "../../abstract//variable.module.scss";
.carousel {
  // background-color: $Lightgray;
  padding-bottom: 50px;
  margin-top: 45px;
  .titlePart {
    padding: 20px;
    .title {
      color: $light;
      font-weight: 700;
    }
    p {
      font-weight: 500;
      cursor: pointer;
    }
  }
  .DoctorCarousel_inner {
    max-width: 96%;
    margin: 10px auto;

    .doctorCard {
      max-width: 300px;
      cursor: pointer;
      border: 2px solid $light;
     
    
    }
    .doctorCardBody {
      color: white;
      background-color: #4C9DC3;
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .carousel {
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
    margin-top: 5px;
  }
  .DoctorCarousel_inner {
    max-width: 100%;
    margin: 10px auto;
  }
  .titlePart {
    padding: 20px;
    .title {
      color: $light;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
    p {
      display: none;
    }
  }
}
