@import "../../abstract/variable.module.scss";

.Cost_Info {
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;

  padding: 0px;
  margin-top: 20px;
  width: 340px;
  text-align: center;
}
.checkout_summary {
  border-radius: 5%;
  padding: 5px 10px;
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
  }
  h5 {
    font-weight: 600;
  }
  .cost_info hr {
    padding: 0px;
  }
  .cost_infoData {
    line-height: 60px;
  }
  .order_Button {
    line-height: 10px;
    margin: 10px 0px;
  }
}

.checkout_heder {
  margin-bottom: 9px;
  height: 52px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-bottom: 2px solid gray;

  h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: $black;
  }
}

@media screen and (max-width: 600px) {
  .Cost_Info {
    border-radius: 0px;
    width: 320px;
  }
}
